*target*
*.war
*.ear
*.class
clover*.*

# eclipse specific git ignore

.project
.metadata
dist/**
build/**
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.application.properties
resources/java/environment/local.application.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin
