<?xml version="1.0" encoding="UTF-8"?>
    <!--
        Copyright 2009-2011: Thomson Reuters Global Resources. All Rights Reserved.
        Proprietary and Confidential information of TRGR. Disclosure, Use or
        Reproduction without the written authorization of TRGR is prohibited
    -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"

    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/jee
           http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


    <import resource="activiti.xml" />

        <!-- This section signifies the loading via JNDI the environment specific application properties file -->
    <bean id="propertyFile" class="java.lang.String">
        <constructor-arg>
            <jee:jndi-lookup jndi-name="java:comp/env/application.properties.location" />
        </constructor-arg>
    </bean>

    <!-- This section signifies the generic properties that will be loaded for all environments.-->
    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <ref bean="propertyFile" />
            </list>
        </property>
    </bean>

    <bean id="log4jInitialization"
        class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
        <property name="targetMethod" value="initLogging" />
        <property name="arguments">
            <list>
                <value>${log4j.properties}</value>
            </list>
        </property>

    </bean>

    <!-- This will automatically search all classes within the specified package
        for anything with annotations - and then process/instantiate those annotations appropriately. -->
    <context:component-scan base-package="com.thomsonreuters.grc" />

</beans>
